.App {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  margin: 0;
  background-image: linear-gradient(to top, #7a9738, #86ab34, #91c02e, #9dd524, #a8eb12);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: 0;
  padding: 10px;
}

.search-button {
  background: #96e6a1;
  border: 0;
  padding: 10px 20px;
}

.btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: 0;
}

.btn-black {
  color: #fff;
  background-color: black;
}

.btn-white {
  color: black;
  background-color: #fff;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 130px;
}

/* .id {
  text-align: center;
  padding-top: 0px;
} */

@media (max-width: 1450px) {
  .recipes {
    padding: 0;
  }
}